<!DOCTYPE html>
<html ng-app="simpleCalculator">
	<head>
		<meta charset="UTF-8">
		<title>AngularJS simple calculator</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="calculator.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1>Calculator example</h1>
					<div class="well">
						<form action="" ng-controller="calculatorController as calculator">
							<div class="form-group">
								<input type="number" ng-change="calculator.calc()" min="1" max="20" class="form-control" ng-model="calculator.count" placeholder="Pages for markup" >
							</div>
							<div class="form-group">
								<label>Work speed</label>
								<input type="range" ng-change="calculator.calc()" min="0" max="10" ng-model="calculator.speed" placeholder="Deadline" >
							</div>
							<div class="form-group">
								<select ng-model="calculator.cms" ng-change="calculator.calc()" class="form-control">
									<option value="1">Without CMS</option>
									<option value="2">NetCat</option>
									<option value="3">1C Bitrix</option>
									<option value="4">Wordpress</option>
								</select>
							</div>
							<div class="form-group">
								<h4>Additional</h4>
								<div class="form-group">
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="calculator.responsive" ng-change="calculator.calc()">
										Responsive
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="calculator.retina" ng-change="calculator.calc()">
										Retina ready
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="calculator.microdata" ng-change="calculator.calc()">
										Microdata Schema.org
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="alert alert-success">
									<b>Result:</b>
									<span>{{calculator.result | currency}}</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>